{:paths   ["src/main" "resources/public"]
 :deps    {org.clojure/clojure    {:mvn/version "1.10.3"}
           com.fulcrologic/fulcro {:mvn/version "3.7.3"}
           com.wsscode/pathom     {:mvn/version "2.2.15"}
           com.taoensso/timbre    {:mvn/version "4.10.0"}
           ring/ring-core         {:mvn/version "1.9.4"}
           http-kit/http-kit      {:mvn/version "2.5.3"}}

 :aliases {:dev {:extra-paths ["src/dev"]
                 :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.11.132"}
                               thheller/shadow-cljs        {:mvn/version "2.27.2"}
                               binaryage/devtools          {:mvn/version "1.0.7"}
                               cider/cider-nrepl           {:mvn/version "0.45.0"}
                               org.clojure/tools.namespace {:mvn/version "0.2.11"}}}
           
           }}


